
$main-color: #00D9A6;

$scale-main-color: linear-gradient(0.25turn, #99E15E, #00D9A6);
$scale-main-color-reverse: linear-gradient(0.25turn, #00D9A6, #99E15E);

$scale-black-color: linear-gradient(0.25turn, #595959, #000000);

$scale-slider-color: linear-gradient(0.25turn, #595959, #2E2E2E);




$scale-background-main-color: linear-gradient(0.25turn, #99E15E, #00D9A6);

//card hover
$scale-cards-background-main-color-reverse: linear-gradient(45deg, #00D9A6, #99E15E);

$main-font : "Poppins", sans-serif;