@use './partials/vars' as *;
@use './partials/mixins' as *;

//npm i bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

// npm i "@fontsource/poppins" 
@import 'node_modules/@fontsource/poppins/index.css';
@import 'node_modules/@fontsource/poppins/300.css';
@import 'node_modules/@fontsource/poppins/200.css';

// npm i "@fontsource/ubuntu"
@import 'node_modules/@fontsource/ubuntu/index.css';
@import 'node_modules/@fontsource/ubuntu/300.css';

//npm i @fortawesome/fontawesome-free
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';


body {
  font-family: $main-font;
  color: black;
  margin: 0 auto;
  font-weight: 300;
}

.mb-container {
  width: 83%;
  margin: 0 auto;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.4rem;
}

.hchangecolor {
  color: $main-color;
}

p {
  font-size: .9rem;
  font-weight: 200;
  line-height: 1.6rem;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.logo:hover, i:hover {
  cursor: pointer;
}