@use './partials/vars' as *;
@use './partials/mixins' as *;

//npm i bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

// npm i "@fontsource/poppins" 
@import 'node_modules/@fontsource/poppins/index.css';

// npm i "@fontsource/ubuntu"
@import 'node_modules/@fontsource/ubuntu/index.css';

//npm i @fortawesome/fontawesome-free
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';


body {
  font-family: $main-font;
  min-height: 100vh;
  color: black;
  margin: 0 auto;
}

.mb-container {
  width: 83%;
  margin: 0 auto;
}
/*
.mb-btn {
  width: 150px;
  height: 50px;
}*/

h1 {
  font-size: 4.8rem;
}

.hchangecolor {
  color: $main-color;
}

img {
  max-width: 100%;
}